.app-footer {
  background: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;  
  font-size: 0.95rem;
  border-top: 1px solid black;
  margin-top: 3rem;
}