
.header1 {
  position: sticky;
  top: 0;
  z-index: 10;
  background: transparent;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.449);
  padding: 1rem 2rem;
  border-radius: 8%;

}


.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 20px;
}

.nav-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: auto; /* pushes it to the right */
}


.nav-button {
  padding: 0.45rem 1.2rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0.5px rgba(255, 255, 255, 0.3),
              0 4px 20px rgba(255, 255, 255, 0.1);
}


.nav-button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.nav-button.active {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}